.indiv_page{
    margin-top:5vw;
    width:100%;
    text-align:center;
  }

.wide_Box{
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width:70%;
  font-size:1.7vw;
}

